* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
}

:root {
    /* Theme: Black */
    --first--bgColor: #606060;
    --first--textColor: white;

    /* Theme: White */
    --second--bgColor: white;
    --second--textColor: #000;
}

body {
    width: 100%;
    height: 1000px;
    background-color: var(--first--bgColor);
}

.weatherApp {
    width: 100%;
    height: 100%;
}

.block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container {
    width: 400px;
    height: 500px;
    background: linear-gradient(9145deg,rgba(82, 209, 209, 1) 64%, rgba(33, 33, 87, 1) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerWeather {
    width: 100%;
    display: flex;
    margin-top: 2rem;
}

.search {
    width: 70%;
    position: relative;
    margin-left: 2rem;
}

.searchWeather {
    width: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid transparent;
    z-index: 2;
    background-color: white;
    position: relative;
    transition: box-shadow 0.3s ease-in;
}

.searchWeather:focus-visible {
    outline: none;
    box-shadow: 0 0 10px aqua;
}

.search-bg {
    position: absolute;
    border-radius: 15px;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

.btn__search {
    width: 38px;
    border-radius: 50%;
    border: none;
    margin: 0 1rem;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
    z-index: 10;
}

.btn__search:hover {
    box-shadow: 0 0 10px aqua;
}

.bodyWeather {
    width: 100%;
    text-align: center;
}

.bodyWeather h2,
.bodyWeather h3 {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
}

.bodyWeather h3 {
    font-weight: 500;
    letter-spacing: 0;
}

.footerWeather {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.footerLeft, .footerRight {
    display: flex;
    gap: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}